.signup-form {
	display: flex;
	flex-direction: column;
}

.signup-form > * {
	margin: 5px 0;
	width: 220px;
}

.signup-form > [type="submit"] {
	margin: 10px 0;
	width: 100px;
}

.signup-page {
	margin: 10px 30px;
}