.signup-form {
	display: flex;
	flex-direction: column;
}

.signup-form > * {
	margin: 5px 0;
	width: 220px;
}

.signup-form > [type="submit"] {
	margin: 10px 0;
	width: 100px;
}

.signup-page {
	background-image: linear-gradient(rgba(1, 25, 54, 1), black);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-card {
	position: relative;
	top: -80px;
}

.signup-card *:not(input) {
	color: white;

}